# Application domains
FRONTEND_DOMAIN=album.nokor24.com
BACKEND_DOMAIN=api.album.nokor24.com

# Ports (container ports)
FRONTEND_PORT=3000
BACKEND_PORT=3001

# URLs
BACKEND_URL=http://backend:${BACKEND_PORT}